<!-- Navbar template: navigation bar shared by public pages -->
navbar-home.html
<nav class="navbar" th:fragment="navbar">

    <div class="navbar-container">

        <div class="logo">
            <a th:href="@{/}">
                MarcoArchetti
            </a>
        </div>


        <ul class="nav-links">

            <li>
                <a href="/#hero">Home</a>
            </li>

            <li>
                <a href="/#about">Chi siamo</a>
            </li>

            <li>
                <a href="/#servizi">Servizi</a>
            </li>

            <li>
                <a href="/#contatti">Contatti</a>
            </li>

            <li>
                <a href="/#recensioni">Recensioni</a>
            </li>

            <li>
                <a href="/#faq">FAQ</a>
            </li>

            <li>
                <a th:href="@{/preventivo}" class="nav-btn">
                    Preventivo
                </a>
            </li>

            <li>
                <a th:href="@{/register}" href="/register" class="nav-btn secondary">
                    Login/Registrazione
                </a>
            </li>

        </ul>


        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>


    </div>

</nav>

