<!-- Navbar template: logged-in user navigation bar -->
<nav class="navbar" th:fragment="navbar">

    <div class="navbar-container">

        <div class="logo">
            <a th:href="@{/client}">
                MarcoArchetti
            </a>
        </div>

        <ul class="nav-links">
    
            <li>
                <a th:href="@{/client}">Homepage</a>
            </li>
            <li>
                <a th:href="@{/client#richiedi-preventivo}">Richiedi preventivo</a>
            </li>
            <li>
                <a th:href="@{/client#preventivi}">I miei preventivi</a>
            </li>
            <li>
                <a th:href="@{/client#prenotazioni}">Prenotazioni</a>
            </li>
            <li>
                <a th:href="@{/client#profilo}">Profilo</a>
            </li>
            <li>
                <a th:href="@{/logout}" class="nav-btn secondary">Logout</a>
            </li>
        </ul>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

</nav>
