<!-- Hero fragment: main landing banner section -->
<section id="hero" class="hero" th:fragment="hero">

    <div class="hero-left">

        <h1>Il tuo giardiniere di fiducia</h1>

        <p>
           Non ho scelto solo un mestiere: ho trovato un mondo da conoscere, rispettare e trasformare in bellezza.
        </p>

    </div>


    <div class="hero-right">

        <img th:src="@{/images/fotoMarco.jpg}" alt="Giardiniere">

    </div>


    <div class="hero-action">
        <a th:href="@{/preventivo}" class="btn-primary">
            Richiedi Preventivo
        </a>
    </div>

</section>

