<!-- Home template: landing page embedding fragments for sections -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar-home.css}">
    <link rel="icon" th:href="@{/images/gardening.png}" type="image/png">

</head>

<body>
<div th:replace="~{navbar/navbar-home :: navbar}"></div>

<div th:replace="~{fragment/hero :: hero}"></div>

<div th:replace="~{fragment/about :: about}"></div>

<div th:replace="~{fragment/servizi :: servizi}"></div>

<div th:replace="~{fragment/contatti :: contatti}"></div>

<div th:replace="~{fragment/recensioni :: recensioni}"></div>

<div th:replace="~{fragment/faq :: faq}"></div>

<div th:replace="~{fragment/cta :: cta}"></div>

<div th:replace="~{fragment/footer :: footer}"></div>

<div th:replace="~{fragment/scrollButton :: scrollButton}"></div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/recensioni.js}"></script>
<script th:src="@{/js/scrollButton.js}"></script>
</body>
</html>


